body {
  background: #76b952;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-box {
  background: white;
}

input {
  background: #f2f2f2 !important;
}

.login-btn {
  background: #76b952;
  color: white;
}

.main-box {
  -webkit-box-shadow: 0px 0px 28px 0px #000000;
  box-shadow: 0px 0px 28px 0px #000000;
}
